# Import Libraries

In [1]:
import pandas as pd

# Google Project Sunroof

In [2]:
filepath = "google_projectsunroof/solar_potential_by_postal_code.csv"

df_solar = pd.read_csv(filepath)
df_solar.head(3)

,region_name,state_name,lat_max,lat_min,lng_max,lng_min,lat_avg,lng_avg,yearly_sunlight_kwh_kw_threshold_avg,count_qualified,...,yearly_sunlight_kwh_n,yearly_sunlight_kwh_s,yearly_sunlight_kwh_e,yearly_sunlight_kwh_w,yearly_sunlight_kwh_f,yearly_sunlight_kwh_median,yearly_sunlight_kwh_total,install_size_kw_buckets,carbon_offset_metric_tons,existing_installs_count
0,50648.0,Iowa,42.482522,42.442844,-92.052619,-92.219113,42.470563,-92.071952,980.9,1,...,0.000000,1864.582703,1012.349377,0.000000,0.000000e+00,2876.932080,2.876932e+03,"[[0,1]]",1.457705,0
1,52498.0,Iowa,42.033927,42.028445,-91.631963,-91.636456,42.031537,-91.633122,1009.8,58,...,55101.258716,309147.466577,392972.504791,567724.280273,4.828058e+06,3925.424512,6.153004e+06,"[[0,36],[5,2],[20,1],[25,1],[40,2],[50,1],[55,...",3117.648375,0
2,50647.0,Iowa,42.653379,42.614552,-92.450545,-92.509698,42.644734,-92.463196,980.9,5,...,0.000000,3974.359277,14908.441772,13796.895776,4.154355e+05,4473.646704,4.481152e+05,"[[0,3],[15,1],[350,1]]",227.054258,0

In [3]:
df_solar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10621 entries, 0 to 10620
Data columns (total 31 columns):
region_name                             10620 non-null float64
state_name                              10620 non-null object
lat_max                                 10621 non-null float64
lat_min                                 10621 non-null float64
lng_max                                 10621 non-null float64
lng_min                                 10621 non-null float64
lat_avg                                 10621 non-null float64
lng_avg                                 10621 non-null float64
yearly_sunlight_kwh_kw_threshold_avg    10621 non-null float64
count_qualified                         10621 non-null int64
percent_covered                         10621 non-null float64
percent_qualified                       10621 non-null float64
number_of_panels_n                      10621 non-null int64
number_of_panels_s                      10621 non-null int64
number_of_panels_e                      10621 non-null int64
number_of_panels_w                      10621 non-null int64
number_of_panels_f                      10621 non-null int64
number_of_panels_median                 10585 non-null float64
number_of_panels_total                  10585 non-null float64
kw_median                               10585 non-null float64
kw_total                                10585 non-null float64
yearly_sunlight_kwh_n                   10621 non-null float64
yearly_sunlight_kwh_s                   10621 non-null float64
yearly_sunlight_kwh_e                   10621 non-null float64
yearly_sunlight_kwh_w                   10621 non-null float64
yearly_sunlight_kwh_f                   10621 non-null float64
yearly_sunlight_kwh_median              10585 non-null float64
yearly_sunlight_kwh_total               10585 non-null float64
install_size_kw_buckets                 10585 non-null object
carbon_offset_metric_tons               10621 non-null float64
existing_installs_count                 10621 non-null int64
dtypes: float64(22), int64(7), object(2)
memory usage: 2.5+ MB

In [4]:
df_solar = df_solar.dropna()
df_solar.shape

(10585, 31)

In [5]:
# cast region_name astype int because this is Zip Code
# set_index to region_name

df_solar['region_name'] = df_solar['region_name'].astype(int, copy=False)
df_solar['region_name'] = df_solar['region_name'].astype(str, copy=False)
df_solar = df_solar.set_index('region_name')
df_solar.head(2)

,state_name,lat_max,lat_min,lng_max,lng_min,lat_avg,lng_avg,yearly_sunlight_kwh_kw_threshold_avg,count_qualified,percent_covered,...,yearly_sunlight_kwh_n,yearly_sunlight_kwh_s,yearly_sunlight_kwh_e,yearly_sunlight_kwh_w,yearly_sunlight_kwh_f,yearly_sunlight_kwh_median,yearly_sunlight_kwh_total,install_size_kw_buckets,carbon_offset_metric_tons,existing_installs_count
region_name,,,,,,,,,,,,,,,,,,,,,
50648,Iowa,42.482522,42.442844,-92.052619,-92.219113,42.470563,-92.071952,980.9,1,0.658979,...,0.000000,1864.582703,1012.349377,0.000000,0.000000e+00,2876.932080,2.876932e+03,"[[0,1]]",1.457705,0
52498,Iowa,42.033927,42.028445,-91.631963,-91.636456,42.031537,-91.633122,1009.8,58,95.588235,...,55101.258716,309147.466577,392972.504791,567724.280273,4.828058e+06,3925.424512,6.153004e+06,"[[0,36],[5,2],[20,1],[25,1],[40,2],[50,1],[55,...",3117.648375,0

In [6]:
# select state_name == California

df_solar_ca = df_solar[df_solar['state_name'] == 'California']
df_solar_ca.shape

(1177, 30)

In [7]:
# drop extraneous columns

col_drop = ['state_name','lat_max', 'lat_min', 'lng_max', 'lng_min', 'install_size_kw_buckets',\
            'carbon_offset_metric_tons', 'existing_installs_count']

df_solar_ca = df_solar_ca.drop(col_drop, axis=1)
df_solar_ca.shape

(1177, 22)

In [8]:
# pickle DataFrame

df_solar_ca.to_pickle('03_df_solar_ca.pkl')