# Import Libraries

In [1]:
import pandas as pd

# Zip Code Demographic Data

In [2]:
# import CDXTECH zip code demographic data

filepath = "CDXTECH/CDETECH_ZIP.csv"
df_zip = pd.read_csv(filepath)

df_zip.head(3)

,Your Entry,City,State,Population,Population Estimate,Business Annual Payroll,Business First Quarter Payroll,Median Age,Male Population,Female Population,...,Black or African American Population,American Indian or Alaskan Native Population,Native Hawaiian or other Pacific Islander Population,White Population,Other Population,Growing Counties A,Growing Counties B,Growth Increase Number,Growth Increase Percentage,Growth Rank
0,zip_c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90001,LOS ANGELES,CA,57110.0,57230.0,481676.0,123366.0,26.6,28468.0,28642.0,...,6420.0,661.0,82.0,22256.0,29642.0,0.0,0.0,0.0,0.0,0.0
2,90002,LOS ANGELES,CA,51223.0,52655.0,49005.0,12031.0,25.5,24876.0,26347.0,...,13628.0,642.0,94.0,15825.0,22798.0,0.0,0.0,0.0,0.0,0.0

In [3]:
# drop first row of extraneous NaN values
# rename first column 'Zip Code'

df_zip.drop(labels=0, axis=0, inplace=True)
df_zip.rename(columns={'Your Entry': 'Zip Code'}, inplace=True)
df_zip.head(3)

,Zip Code,City,State,Population,Population Estimate,Business Annual Payroll,Business First Quarter Payroll,Median Age,Male Population,Female Population,...,Black or African American Population,American Indian or Alaskan Native Population,Native Hawaiian or other Pacific Islander Population,White Population,Other Population,Growing Counties A,Growing Counties B,Growth Increase Number,Growth Increase Percentage,Growth Rank
1,90001,LOS ANGELES,CA,57110.0,57230.0,481676.0,123366.0,26.6,28468.0,28642.0,...,6420.0,661.0,82.0,22256.0,29642.0,0.0,0.0,0.0,0.0,0.0
2,90002,LOS ANGELES,CA,51223.0,52655.0,49005.0,12031.0,25.5,24876.0,26347.0,...,13628.0,642.0,94.0,15825.0,22798.0,0.0,0.0,0.0,0.0,0.0
3,90003,LOS ANGELES,CA,66266.0,73959.0,106493.0,26167.0,26.3,32631.0,33635.0,...,16829.0,930.0,146.0,21741.0,28972.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# inspect DataFrame info

df_zip.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2664 entries, 1 to 2664
Data columns (total 52 columns):
Zip Code                                                2664 non-null object
City                                                    2589 non-null object
State                                                   2589 non-null object
Population                                              2589 non-null float64
Population Estimate                                     2589 non-null float64
Business Annual Payroll                                 2589 non-null float64
Business First Quarter Payroll                          2589 non-null float64
Median Age                                              2589 non-null float64
Male Population                                         2589 non-null float64
Female Population                                       2589 non-null float64
Median Age Female                                       2589 non-null float64
Median Age Male                                         2589 non-null float64
Households                                              2589 non-null float64
Persons Per Household                                   2589 non-null float64
Income Per Household                                    2589 non-null float64
Number of Businesses                                    2589 non-null float64
Number of Employees                                     2589 non-null float64
Delivery Business                                       2589 non-null float64
Delivery Residential                                    2589 non-null float64
Delivery Total                                          2589 non-null float64
Average House Value                                     2589 non-null float64
CBSA Population                                         2589 non-null float64
CBSA Division Population                                2589 non-null float64
CBSA Name                                               2446 non-null object
CBSA Number                                             2446 non-null float64
CBSA Type                                               2446 non-null object
City Alias Name                                         2589 non-null object
State Full Name                                         2589 non-null object
State FIPS                                              2589 non-null float64
County Name                                             2589 non-null object
County FIPS                                             2589 non-null float64
Latitude                                                2589 non-null float64
Longitude                                               2589 non-null float64
Region                                                  2589 non-null object
Division                                                2589 non-null object
Area Code                                               2589 non-null object
DayLight Savings                                        2589 non-null object
Land Area                                               2589 non-null float64
Water Area                                              2589 non-null float64
Congressional District                                  2545 non-null object
Congressional Land Area                                 2545 non-null object
Asian Population                                        2589 non-null float64
Black or African American Population                    2589 non-null float64
American Indian or Alaskan Native Population            2589 non-null float64
Native Hawaiian or other Pacific Islander Population    2589 non-null float64
White Population                                        2589 non-null float64
Other Population                                        2589 non-null float64
Growing Counties A                                      2589 non-null float64
Growing Counties B                                      2589 non-null float64
Growth Increase Number                                  2589 non-null float64
Growth Increase Percentage                              2589 non-null float64
Growth Rank                                             2589 non-null float64
dtypes: float64(38), object(14)
memory usage: 1.1+ MB

In [5]:
# clean up to keep desired columns

cols = ['Zip Code']
y = [x for x in df_zip.columns if type(df_zip[x][1]) != str]
cols.extend(y)

rmv = list(filter(lambda col: (('FIPS' in col) or ('CBSA' in col) or ('Growth' in col) or ('Growing' in col)), cols))
cols = [x for x in cols if x not in rmv]        

df_zip = df_zip[cols]


# dropna values
df_zip = df_zip.dropna()


# review info
df_zip.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2589 entries, 1 to 2664
Data columns (total 29 columns):
Zip Code                                                2589 non-null object
Population                                              2589 non-null float64
Population Estimate                                     2589 non-null float64
Business Annual Payroll                                 2589 non-null float64
Business First Quarter Payroll                          2589 non-null float64
Median Age                                              2589 non-null float64
Male Population                                         2589 non-null float64
Female Population                                       2589 non-null float64
Median Age Female                                       2589 non-null float64
Median Age Male                                         2589 non-null float64
Households                                              2589 non-null float64
Persons Per Household                                   2589 non-null float64
Income Per Household                                    2589 non-null float64
Number of Businesses                                    2589 non-null float64
Number of Employees                                     2589 non-null float64
Delivery Business                                       2589 non-null float64
Delivery Residential                                    2589 non-null float64
Delivery Total                                          2589 non-null float64
Average House Value                                     2589 non-null float64
Latitude                                                2589 non-null float64
Longitude                                               2589 non-null float64
Land Area                                               2589 non-null float64
Water Area                                              2589 non-null float64
Asian Population                                        2589 non-null float64
Black or African American Population                    2589 non-null float64
American Indian or Alaskan Native Population            2589 non-null float64
Native Hawaiian or other Pacific Islander Population    2589 non-null float64
White Population                                        2589 non-null float64
Other Population                                        2589 non-null float64
dtypes: float64(28), object(1)
memory usage: 606.8+ KB

In [6]:
# set index to 'Zip Code'

df_zip.set_index('Zip Code', inplace=True)
df_zip.head(3)

,Population,Population Estimate,Business Annual Payroll,Business First Quarter Payroll,Median Age,Male Population,Female Population,Median Age Female,Median Age Male,Households,...,Latitude,Longitude,Land Area,Water Area,Asian Population,Black or African American Population,American Indian or Alaskan Native Population,Native Hawaiian or other Pacific Islander Population,White Population,Other Population
Zip Code,,,,,,,,,,,,,,,,,,,,,
90001,57110.0,57230.0,481676.0,123366.0,26.6,28468.0,28642.0,27.1,26.1,12971.0,...,33.973593,-118.247897,3.502,0.0,259.0,6420.0,661.0,82.0,22256.0,29642.0
90002,51223.0,52655.0,49005.0,12031.0,25.5,24876.0,26347.0,26.5,24.6,11731.0,...,33.949009,-118.245976,3.062,0.0,265.0,13628.0,642.0,94.0,15825.0,22798.0
90003,66266.0,73959.0,106493.0,26167.0,26.3,32631.0,33635.0,27.1,25.5,15642.0,...,33.964032,-118.273705,3.551,0.0,307.0,16829.0,930.0,146.0,21741.0,28972.0

In [7]:
# pickle cleaned-up df_zip

df_zip.to_pickle('02_df_zip.pkl')